<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tutor_finger_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{79,117}}</string>
                <key>offset</key>
                <string>{12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{79,117}}</string>
                <key>sourceSize</key>
                <string>{103,121}</string>
            </dict>
            <key>tutor_finger_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{81,113}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{81,113}}</string>
                <key>sourceSize</key>
                <string>{103,121}</string>
            </dict>
            <key>tutor_finger_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,2},{91,93}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{91,93}}</string>
                <key>sourceSize</key>
                <string>{103,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tutor_finger.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8999fbb631bae58cdf3ab77f4aac089c:b0cf666c84f1c13211c2489100f946e9:2929b00699a5b3e49a47893f5ad5f788$</string>
            <key>textureFileName</key>
            <string>tutor_finger.pvr.ccz</string>
        </dict>
    </dict>
</plist>
